/*  Extra small devices (portrait phones, less than 320px) */

@media (max-width: 320px) {
    /* navbar part  */
    .navbar-nav .nav-link {
        text-align: center;
    }
    /* slider part start */
    .slider-part {
        padding: 30px 0;
    }
    .inspire {
        text-align: center;
        padding-bottom: 19px;
    }
    .tab {
        padding-left: 0;
    }
    .carousel-indicators {
        bottom: -49px;
    }
    /* slider part end */
    /* tinyone future part start */
    .top-text p {
        padding: 0;
    }
    .tinyone-future {
        padding: 25px 25px;
    }
    .bottom-margin {
        margin-top: 0;
    }
    .bottom-margin-top {
        margin-top: 0;
    }
    .bottom-image h3 {
        font-size: 18px;
    }
    .bottom-image p {
        font-size: 12px;
        padding-right: 0px;
    }
    /* tinyone future part end */
    /* footer part start */
    .footer-part {
        padding: 30px 0;
    }
    .top-part p {
        padding: 0px 0px;
    }
    /* form part */
    .form-inline .form-control {
        width: 292px;
    }
    .btn-custom {
        margin: 0 auto;
        margin-top: 10px;
    }
    /* footer social icon */
    .social-part ul li i {
        padding-left: 15px;
        padding-top: 0px;
    }
    .footer-margin {
        margin-top: 30px;
    }
    /* footer part end */
}


/*  Extra small devices (portrait phones, less than 576px) */

@media (min-width: 321px) and (max-width: 575.98px) {
    /* navbar part  */
    .navbar-nav .nav-link {
        text-align: center;
    }
    /* slider part start */
    .slider-part {
        padding: 30px 0;
    }
    .inspire {
        text-align: center;
        padding-bottom: 19px;
    }
    .tab img {
        padding-left: 100px;
    }
    .carousel-indicators {
        bottom: -50px;
    }
    /* slider part end */
    /* tinyone future part start */
    .tinyone-future {
        padding: 25px 25px;
    }
    .top-text p {
        padding: 0px 0;
    }
    .bottom-margin {
        margin-top: 0;
    }
    .bottom-margin-top {
        margin-top: 0;
    }
    .max-width img {
        margin: 10px 70px;
    }
    /* tinyone future part end */
    /* footer part start */
    .footer-part {
        padding: 30px 0;
    }
    .top-part p {
        padding: 0px 0px;
    }
    /* form part */
    .form-inline .form-control {
        width: 292px;
    }
    .btn-custom {
        margin: 0 auto;
        margin-top: 10px;
    }
    /* footer social icon */
    .social-part ul li i {
        padding-left: 15px;
        padding-top: 0px;
    }
    .footer-margin {
        margin-top: 30px;
    }
    /* footer part end */
}


/*  Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    /* navbar part  */
    .navbar-nav .nav-link {
        text-align: center;
    }
    /* slider part start */
    .inspire {
        text-align: center;
        padding-bottom: 19px;
    }
    .tab img {
        padding-left: 90px;
    }
    /* slider part end */
    /* tinyone future part start */
    .tinyone-future {
        padding: 25px 0;
    }
    .bottom-margin {
        margin-top: 0;
    }
    .bottom-margin-top {
        margin-top: 0;
    }
    .max-width img {
        margin: 10px 70px;
    }
    /* tinyone future part end */
    /* footer part start */
    .footer-part {
        padding: 30px 0;
    }
    /* form part */
    .form-inline .form-control {
        width: 475px;
    }
    .btn-custom {
        margin: 0 auto;
        margin-top: 10px;
    }
    /* footer social icon */
    .social-part ul li i {
        padding-left: 20px;
        padding-top: 0px;
    }
    .footer-margin {
        margin-top: 30px;
    }
    /* footer part end */
}


/*  Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    /* navbar part  */
    .navbar-nav .nav-link {
        text-align: center;
    }
    /* slider part start */
    .inspire {
        text-align: center;
        padding-bottom: 19px;
    }
    .inspire ul li i {
        padding-right: 15px;
    }
    /* slider part end */
    /* tinyone future part start */
    .bottom-image h3 {
        font-size: 20px;
    }
    .bottom-image p {
        font-size: 14px;
        padding-right: 0;
    }
    .max-width img {
        max-width: 30px;
    }
    /* tinyone future part end */
    /* footer part start */
    .footer-part {
        padding: 30px 0;
    }
    /* form part */
    .form-inline .form-control {
        margin-left: -18px;
    }
    .btn-custom {
        margin: 0 auto;
        margin-top: 10px;
    }
    /* footer social icon */
    .social-part ul li i {
        padding-left: 20px;
        padding-top: 0px;
    }
    .footer-margin {
        margin-top: 30px;
    }
    /* footer part end */
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    ...
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    ...
}